<!DOCTYPE html>
<html>
<head>
  <title>Blogs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  </style>
</head>
<body>
  <h1>Blogs</h1>
  {% for blog in blogs %}
    <article>
      <a href="/blog/{{blog.ids}}"><h1>{{blog.title}}</h1></a>
      <pre>
        {{blog.blog}}
      </pre>
    </article>
    <hr />
  {% endfor %}
</body>
</html>
